@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">Seja Bem-Vindo!</h1>
        <p class="lead">Esse é um projeto de API criado em .net com entity framework e SQL SERVER que visa implementar as principais funcionalidades de uma concessionária</p>
    </div>
</div>