@model ConcessionariaAPI.Models.Venda;
@{
    ViewData["Title"] = "Confirmation";
}
<h2>Confirmar exclusão</h2>

@if (Model != null)
{
    <div class="w-100">
        <div class="card">
            <div class="card-body">
                <p class="card-text">Veículo: @Model.Veiculo.Modelo</p>
                <p class="card-text">Vendedor: @Model.Vendedor.Nome</p>
                <p class="card-text">Data da venda: @Model.DataVenda</p>
                <div class="d-flex align-items-center">
                    <a asp-action="Index" class="btn btn-outline-success mx-3">Cancelar</a>

                    <a asp-action="Delete" asp-route-id="@Model.VendaId">Delete</a>
                </div>

            </div>
        </div>
    </div>
}
else
{
    <p>Filme não encontrado</p>
}
